/* new css */
/* Alert Popup css */
.custom-toast {
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
}

.custom-toast-container {
  width: 300px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* Updated CSS for login Popup and background Akshay*/
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the background color and opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  /* Additional styles for your popup content */
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #b03fcc;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.forgot_field {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.commanMobHead .mobileHead p {
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 500;
  font-family: "PlusJakartaSansMedium";
  color: rgba(248, 252, 255, 1);
  margin-left: auto;
}
.innerCommanContent {
  background-image: linear-gradient(
    to top,
    #191f2b,
    #1e2732,
    #232f3a,
    #293841,
    #304048,
    #314249,
    #33434b,
    #34454c,
    #304048,
    #2c3b43,
    #28373f,
    #24323b
  );
  padding: 25px 10px;
}
.loginOption figure.headerLogo,
.createAccount figure.headerLogo {
  padding-bottom: 80px;
}
.createAccount {
  padding: 0px 0 50px;
}
.innerCommanContent .interest-sliders {
  padding-right: 0;
}
.innerCommanContent header {
  background: none;
  border-bottom: none;
  padding: 0;
}
.innerCommanContent header .searchbar {
  display: flex;
  margin-left: 0;
  width: 100%;
}
.mob_tab_list .rightSection .keeps-container .gurukeeps-wrapper {
  width: 100%;
  padding: 16px 0 20px;
}
.mob_tab_list .rightSection .keeps-container .gurukeeps-wrapper .connect-link {
  margin: 0;
}
.mob_tab_list
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li {
  margin-right: 8px;
  margin-bottom: 10px;
}
.mob_tab_list
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li
  a {
  color: rgba(207, 214, 219, 1);
  padding: 8px 15px;
  border: 1.5px solid rgba(84, 90, 107, 1);
  border-radius: 26px;
}
.mob_tab_list
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li.active
  a {
  color: white;
  box-shadow: 0px 10px 24px 0px rgba(58, 74, 99, 0.63);
  background: linear-gradient(
      87.97deg,
      #b03fcc 2.88%,
      #683fe4 25.56%,
      rgba(216, 63, 190, 0.94) 114.56%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.21));
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.mob_tab_list
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li.active:after {
  display: none;
}
.mob_tab_list .rightSection .keeps-container .interest-guru .wrap {
  flex-direction: unset;
  width: 100%;
}
.mob_tab_list .rightSection .keeps-container .interest-guru figure {
  width: 109px;
  height: 109px;
}
.mob_tab_list .rightSection .keeps-container .interest-guru .content {
  width: calc(100% - 109px);
  padding-left: 14px;
  padding-top: 0;
}
.mob_tab_list .rightSection .keeps-container .interest-guru .wrapper {
  margin-bottom: 3px;
}
.mob_tab_list .rightSection .keeps-container .interest-guru .wrapper figure {
  width: 35px;
  height: 35px;
}
.mob_tab_list .rightSection .keeps-container .interest-guru .content p {
  color: #fff;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "PlusJakartaSansSemiBold";
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.contactFaq .rightSection .keeps-container .gurukeeps-wrapper .connect-link {
  margin-top: 0;
}
.contactFaq .rightSection .keeps-container .gurukeeps-wrapper {
  padding: 0 0 15px 0;
}
.contactFaq .rightSection .keeps-container .gurukeeps-wrapper .connect-link li {
  margin-right: 14px;
}
.contactFaq
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li
  a {
  padding: 8px 15px;
  color: rgba(174, 179, 189, 1);
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 500;
  font-family: "PlusJakartaSansMedium";
  border: 1.5px solid rgba(84, 90, 107, 1);
  border-radius: 26px;
}
.contactFaq
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li:after {
  display: none;
}
.contactFaq
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li.active
  a,
.contactFaq
  .rightSection
  .keeps-container
  .gurukeeps-wrapper
  .connect-link
  li
  a.active {
  background: linear-gradient(
      87.97deg,
      #b03fcc 2.88%,
      #683fe4 25.56%,
      rgba(216, 63, 190, 0.94) 114.56%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.21));
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-shadow: 0px 10px 24px 0px rgba(58, 74, 99, 0.63);
  color: white;
}
.contactFaq .rightSection .contact-wrapper .faq-container .faq-box h4 {
  font-size: 16px;
  padding-right: 10px;
}
.commanMobHead .mobileHead .hamburger i {
  color: white;
  font-size: 26px;
}
.innerCommanContent.contactFaq {
  background: #131f2c;
}
section.login_popup .wrapper400 {
  background: linear-gradient(
      172.97deg,
      #000000bf 99.88%,
      #e43f3f 95.56%,
      rgb(110 3 56 / 35%) 45%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.21));
  padding: 25px;
  border-radius: 20px;
  max-width: 450px;
}
.cross-icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.interestSection button.loginBtn {
  position: absolute;
  width: 100%;
  top: 20px;
  margin: 20px auto 0;
}

.loginOption figure.headerLogo {
  position: relative;
  z-index: 9;
}
.loginOption figure.headerLogo a {
  background: #26353d;
  padding-right: 20px;
}

@media (max-width: 1080px) {
  .rightSection .setting-wrapper .setting-container {
    display: none;
  }
  .rightSection .setting-wrapper .setting-box {
    width: 100%;
    padding: 0 25px 30px 0;
  }
}
@media (max-width: 1024px) {
  .rightSection .contact-wrapper .faq-container {
    width: 100%;
    margin-right: 0;
    padding-right: 20px;
  }
  .rightSection .contact-wrapper .contact-container {
    width: 100%;
    margin: 30px 20px 0 0;
  }
}
@media (max-width: 992px) {
  .rightSection .guru-gold-silver h1,
  .rightSection .guru-gold-silver h1,
  .rightSection .keeps-container .gurukeeps-wrapper h1 {
    font-size: 24px;
  }
  .rightSection .keeps-container .interest-guru .wrap {
    flex-direction: column;
  }
  .rightSection .keeps-container .interest-guru figure {
    width: 100%;
  }
  .rightSection .keeps-container .interest-guru figure a {
    width: 100%;
    height: 100%;
  }
  .rightSection .keeps-container .interest-guru .content {
    width: 100%;
    padding: 30px 0 0 0;
  }
  .rightSection .keeps-container .gurukeeps-wrapper .connect-link li {
    margin-right: 15px;
  }

  .rightSection .contact-wrapper .faq-container .faq-box h4 {
    font-size: 18px;
  }

  .rightSection .tab-content .about-content {
    padding-right: 20px;
  }
  .subscriptionPlan .current-plan {
    max-width: 100%;
    padding-right: 20px;
  }
  .subscriptionPlan .change-plan .plans-wrapper {
    max-width: 100%;
  }
  .subscriptionPlan .change-plan .plans-wrapper .monthly-plans {
    width: calc(100% - 24px);
    margin-bottom: 20px;
  }
  .subscriptionPlan .change-plan {
    margin-top: 40px;
  }
  .subscriptionPlan .change-plan h6 {
    margin-bottom: 25px;
  }
  .feedbackSection form textarea {
    width: 100%;
  }
  .rightSection .guru-gold-silver .center-box {
    justify-content: flex-start;
    padding-top: 30px;
  }
  .rightSection .guru-gold-silver .center-box .topThreeBox {
    width: 420px;
  }
  .milestoneWrap .silver-coin-box:nth-of-type(odd) {
    margin-right: 20px;
  }
  .rightSection .guru-gold-silver .silver-coin-box {
    margin-top: 24px;
  }
  .rightSection .keeps-container .gurukeeps-wrapper .connect-box li a {
    width: 40px;
    height: 40px;
  }
  .rightSection .keeps-container .gurukeeps-wrapper .connect-box {
    margin-top: 30px;
  }
  .rightSection .keeps-container .gurukeeps-wrapper .connect-box li a img {
    width: auto;
    height: auto;
  }
  .rightSection .keeps-container .blog-details {
    max-width: 100%;
    padding: 0 25px 0 0;
  }
}

@media (max-width: 767px) {
  .subscriptionPlan .current-plan {
    padding-right: 0;
  }
  .subscriptionPlan .current-plan .current-plan-container {
    text-align: left;
  }
  .subscriptionPlan .change-plan .plans-wrapper .monthly-plans {
    width: 100%;
    margin-right: 0;
  }
  .heightAuto {
    height: auto;
  }
  .rightSection .guru-gold-silver .silver-coin-box {
    margin-top: 0;
    width: 100%;
  }
  .rightSection .guru-gold-silver {
    padding: 0;
  }
  .rightSection .guru-gold-silver .silver-coin-box .silverWrap {
    padding: 25px 12px;
  }
  .rightSection
    .guru-gold-silver
    .reward
    .reward-container
    .reward-line
    .reward-box {
    width: 100%;
  }
  .rightSection .guru-gold-silver .center-box .topThreeBoxWrap ul li {
    margin: 26px 0px 0;
    text-align: center;
  }
  .rightSection .guru-gold-silver .center-box .topThreeBoxWrap ul li figure {
    width: 50%;
    height: 50%;
  }
  .rightSection
    .guru-gold-silver
    .center-box
    .topThreeBoxWrap
    ul
    li:nth-of-type(2)
    figure {
    width: 70px;
    height: 70px;
  }
  .milestoneWrap .silver-coin-box:nth-of-type(odd) {
    margin-right: 0;
  }
  .milestoneWrap .silver-coin-box {
    margin-bottom: 20px;
  }
  .rightSection .guru-gold-silver .points-box {
    width: 100%;
  }
  .mob_profile .mobileHead .connect-box {
    margin-left: auto;
  }
  .mob_profile .mobileHead .connect-box li {
    margin-left: 12px;
  }
  .mob_profile .mobileHead .connect-box li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(124, 141, 184, 0.1);
  }
}
/* new css @D */
.mainBg figure.headerLogo {
  position: relative;
  z-index: 9;
}
.mainBg figure.headerLogo a {
  background: #26353d;
  padding-right: 20px;
}
.accountCreate input.otp_field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.new_login_popup {
  background-color: rgba(19, 31, 44, 0.9);
  backdrop-filter: blur(3.89px);
}
.new_login_popup .popup {
  background-color: rgba(187, 191, 198, 0.5);
  padding: 70px 50px 40px;
  max-width: 500px;
  border-radius: 32px;
}
.new_login_popup.loginOption p {
  margin: 20px 0;
}
.new_login_popup.loginOption li {
  margin-left: 0 !important;
}
.new_login_popup.loginOption li .kep-login-facebook.metro,
.new_login_popup.loginOption li:first-child a {
  background: linear-gradient(0deg, #243343, #243343),
    linear-gradient(0deg, rgba(198, 208, 225, 0.02), rgba(198, 208, 225, 0.02));
}
.new_login_popup.loginOption .alreadyAccount a {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  padding: 0 0 0 8px !important;
  color: #3316ff;
  width: auto;
}
.new_login_popup.loginOption .alreadyAccount a:hover {
  color: #be41c0;
}
.new_login_popup .cross-icon {
  top: 30px;
  right: 30px;
}
.new_login_popup.loginOption .alreadyAccount {
  display: flex;
  justify-content: center;
}
.new_login_popup .cross-icon {
  cursor: pointer;
}
.new_login_popup .cross-icon img {
  transition: all 0.25s ease;
}
.new_login_popup .cross-icon:hover img {
  filter: brightness(0.1);
}
.mailInbox .loginBtn {
  pointer-events: none;
}
header .userIcon .userNav {
  bottom: auto;
  top: 100%;
}
.rightSection .profile-img figure img {
  border-radius: 50%;
}
.customNewPopups {
  display: block;
}
.customNewPopups .popup-wrapper {
  backdrop-filter: none;
}
header .userIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interestSection {
  padding-top: 160px;
}

.createAccount {
  flex-wrap: wrap;
}
.kep-login-facebook.metro {
  display: flex;
  align-items: center;
  padding: 15px 78px 15px 90px;
}
.kep-login-facebook.metro img {
  margin-right: 15px;
}
.mob_profile .profile-img figure img,
.rightSection .profile-img figure img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.edit-profile .intrest-area .social-link ul li a {
  display: flex;
  align-items: center;
  width: 105px;
}
.edit-profile .intrest-area .social-link ul li a figure {
  width: 26px;
}
.fixedBtn {
  z-index: 9;
}
.mob_profile .mob_profile_inner {
  height: 100%;
}
.mob_profile .edit-profile .connect-link li a {
  padding: 8px 13px;
}

@media (min-width: 1551px) and (max-width: 1980px) {
  .createAccount {
    height: 100%;
  }
}

@media (max-width: 1230px) {
  .rightSection .contact-wrapper .faq-container {
    width: 100%;
    margin-right: 0px;
    padding-right: 20px;
  }
  .rightSection .contact-wrapper .contact-container {
    width: 97.5%;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .rightSection .contact-wrapper .faq-container {
    padding-right: 5px;
  }
  .rightSection .contact-wrapper .contact-container {
    width: 100%;
    margin: 30px 5px 0 0;
  }
  .mobileVideoSection .layer {
    display: flex;
    flex-wrap: wrap;
  }
  .mobileVideoSection .layer .author-tag {
    width: 100%;
    margin-top: auto;
  }
  .mobileVideoSection .layer h5 {
    margin: auto 0 12px;
  }
  .mobileVideoSection .layer .price {
    width: 65px;
    padding: 0 10px;
  }
  .mobileVideoSection .author-tag .col_right {
    margin-top: 0;
    align-self: flex-end;
  }
  .mobileVideoSection .wrapper {
    margin-bottom: 0;
  }
}
.article-slider .wrap a,
.video-slider .wrap a {
  width: 100%;
}
.article-slider figure iframe,
.video-slider figure iframe {
  border-radius: 12px;
}
.edit-profile .intrest-area .link-button li {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .fixedBtn {
    width: 50px;
    height: 50px;
  }
  .fixedBtn figure img {
    width: 60%;
  }
}

.blog-slider .wrap .layer {
  background: rgba(0, 0, 0, 0.4);
}
.blog-slider .slick-arrow.slick-prev {
  right: 55px;
  left: auto;
}
.blog-slider .slick-arrow {
  right: 20px;
  top: -24px;
}
.blog-slider {
  padding-top: 10px;
}
.video-slider .layer {
  display: flex;
  flex-direction: column;
}
.video-slider .layer .author-tag {
  margin-top: auto;
}
.rightSection .profile-img-box form .url-box .social-box input::placeholder {
  color: #cfd6db;
}
.rightSection
  .profile-img-box
  form
  .url-box
  .social-box
  input::-ms-input-placeholder {
  color: #cfd6db;
}
.video-slider .layer h5 {
  padding-top: 15px;
}
@media (max-width: 1200px) {
  .video-slider .layer h5 {
    padding-top: 0px;
  }
}
.profileImgChange figure,
.profileImgChange figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.interestSection.second ul li figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 575px) {
  .interestSection {
    padding-top: 40px;
  }
  .interestSection .cancelBtn a {
    width: 45px;
    height: 45px;
  }
  .interestSection .cancelBtn a i {
    font-size: 18px;
  }
}
.blogDetails .blogger-profile figure {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.blogDetails .blogger-profile figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.rightSection .keeps-container .blog-details .blog-img {
  width: 100%;
}
